* {
  font-family: 'Dubai', sans-serif;
}
.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

.todos-container li {
  background: #484E53;
}

i[data-trash] {
  cursor: pointer;
}

.hidden{
  display: none;
}

.list-group-item {
  border: 2px solid;
  border-radius: 5px; 
  margin-bottom: 5px; 
  padding: 10px;
}

